<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/lnsys</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">leonardo</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="LN/entity/Orcamentos.hbm.xml"/>
    <mapping resource="LN/entity/MateriaisOrcamentos.hbm.xml"/>
    <mapping resource="LN/entity/Clientes.hbm.xml"/>
    <mapping resource="LN/entity/HistoricoEntrada.hbm.xml"/>
    <mapping resource="LN/entity/Materiais.hbm.xml"/>
    <mapping resource="LN/entity/Fornecedores.hbm.xml"/>
    <mapping resource="LN/entity/Usuarios.hbm.xml"/>
    
  </session-factory>
</hibernate-configuration>
